<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <ul class="navbar-nav mr-auto" *ngIf="_auth.getdept()">
            <li class="nav-item active">

            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/courseCreation']" routerLinkActive="router-link-active">Course Creation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/departmentreg']" routerLinkActive="router-link-active">View details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/departmentCourse']" routerLinkActive="router-link-active">Course offer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/exceldownloade']" routerLinkActive="router-link-active">Downloade Excel</a>
            </li>

        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="_auth.User()">
            <li class="nav-item active">

            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registerCourse']" routerLinkActive="router-link-active">My course</a>
            </li>


        </ul>


        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item dropdown" *ngIf="_auth.loggedin()">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">{{_auth.getuser()}}</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </nav>

</div>