<div>
    <div class="row">
        <div class="col-3 ml-5 mt-3" *ngFor="let item of data">
            <div class="card" style="width: 20rem;">

                <div class="card-body">
                    <h4>Course Name:{{item.CourseName}}</h4>

                    <h5>CourseCredit: {{item.CourseCredit}}</h5>

                    <h6> CoursePayment:{{item.CoursePayment}}</h6>
                    <h6> CourseStart:{{item.CourseStart}}</h6>
                    <button class="btn btn-primary" (click)="showdetails(item)">show details</button>

                </div>

            </div>
        </div>

    </div>