<div>
    <div class="row">
        <div class="col-md-3 mb-5 mt-3 mr-3 ml-3" *ngFor="let item of data">
            <div class="card">

                <div class="card-body">
                    <h4>Course Name:{{item.CourseName}}</h4>

                    <h5>CourseCredit: {{item.CourseCredit}}</h5>

                    <h6> CoursePayment:{{item.CoursePayment}}</h6>
                    <h6> CourseStart:{{item.CourseStart}}</h6>
                    <button class="btn btn-primary" (click)="showdetails(item)">update</button>

                </div>

            </div>
        </div>

    </div>