<div>
    <div class="card" *ngFor="let item of data">
        <h1 class="card-header">Course Details </h1>
        <div class="card-body">
            <h1 class="ml-5">{{item.CourseName}}</h1>
            <h4 class="ml-5">Course Code: {{item.CourseCode}}</h4>
            <h4 class="ml-5">Course Credit: {{item.CourseCredit}}</h4>
            <h4 class="ml-5">Course Description: {{item.CourseDescription}}</h4>
            <h4 class="ml-5">Course Duration: {{item.CourseDuration}}</h4>
            <h4 class="ml-5">Student Strenth: {{item.CourseStrength}}</h4>
            <h4 class="ml-5">Course Starting Date: {{item.CourseStart}}</h4>
            <h4 class="ml-5">Course Ending Date: {{item.CourseEnd}}</h4>
            <h4 class="ml-5"> CoursePayment:{{item.CoursePayment}}</h4>
            <div class="ml-5">

                <button class="btn btn-primary" (click)="register(item.CourseStart)">Register</button>
            </div>

        </div>



    </div>
</div>