<div>
    <form class="card" #create=ngForm (submit)="oncreate()">



        <div class="card-body">

            <label for="">Student RoleNumber</label>
            <input type="text" placeholder="Student ID" pattern="^[1-9]{2}[a-zA-z]{3}[0-9]{3}" #code=ngModel (blur)="onblur()" name="code" [(ngModel)]="Student.StudentID" class="form-control" required>
            <samp class="help-block text-danger" *ngIf="code.errors?.required && code.touched">Student ID required</samp>
            <samp class="help-block text-danger" *ngIf="code.errors?.pattern && code.touched">Student ID is invalide </samp>
            <br>
            <label for="">Student Name</label>
            <input type="text" placeholder="Student Name" pattern="[A-Za-z ]{3,}[a-zA-Z]{1}" #Name=ngModel name="Name" [(ngModel)]="Student.StudentName" class="form-control" required>
            <samp class="help-block text-danger" *ngIf="Name.errors?.required && Name.touched">Student Name required</samp>
            <samp class="help-block text-danger" *ngIf="Name.errors?.pattern && Name.touched">Student Name is invalide </samp>
            <br>
            <label for="">DOB</label>
            <input type="date" placeholder="DOB" #DOB=ngModel name="DOB" max='2003-01-01' [(ngModel)]="Student.DOB" class="form-control" required>
            <samp class="help-block text-danger" *ngIf="DOB.errors?.required && DOB.touched">Student Name required</samp>
            <br>
            <label for="">Department</label>
            <select name="Deparmentlist" class="form-control" #t (change)="setdept(t.value)">
                <option value="" disabled>select department</option>
                <option [value]=item.Dept_Id *ngFor="let item of dept">{{item.Short_Name}}</option>
                
              </select>
            <br>
            <label for="">Section</label>
            <input type="text" placeholder="Section" #Duration=ngModel name="Duration" [(ngModel)]="Student.Section" class="form-control" required>
            <samp class="help-block text-danger" *ngIf="Duration.errors?.required && Duration.touched">Section required</samp>
            <br>
            <label for="">Mail</label>
            <input type="email" placeholder="Student Mail" (blur)="checkmail()" pattern="[a-zA-Z0-9.-]{2,}@[a-z]{2,}.[a-z]{2,}" #Credit=ngModel name="Credit" [(ngModel)]="Student.Mail" class="form-control" required>
            <samp class="help-block text-danger" *ngIf="Credit.errors?.required && Credit.touched">Mail required</samp>
            <samp class="help-block text-danger" *ngIf="Credit.errors?.pattern && Credit.touched">invalide Mail.</samp>
            <br>
            <div class="row">
                <div class="col-6">
                    <label for="">Gender</label>
                    <br>
                    <input type="radio" name="gender" value="male" (change)="getvalue($event)"> Male<br>
                    <input type="radio" name="gender" value="female" (change)="getvalue($event)"> Female<br>
                    <input type="radio" name="gender" value="other" (change)="getvalue($event)"> Other<br>

                </div>
                <div class="col-6"><label for="">Graduation</label>
                    <br>
                    <input type="radio" name="Graduation" value="UG" (change)="getgraduation($event)"> UG<br>
                    <input type="radio" name="Graduation" value="PG" (change)="getgraduation($event)"> PG<br>
                    <input type="radio" name="Graduation" value="Diploma" (change)="getgraduation($event)"> Diploma<br>
                </div>
                <br>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <label for="">Starting Year</label>
                    <input type="number" placeholder="Starting Year" #StartingDate=ngModel name="Starting Date" [(ngModel)]="Student.StartingYear" class="form-control" required>
                </div>
                <div class="col-6"><label for="">Ending Year</label>
                    <input type="number" placeholder="Ending Year" #EndingDate=ngModel name="Ending Date" [(ngModel)]="Student.EndingYear" class="form-control" required></div>
            </div>
            <div>
                <label for="">Security Answer</label>
                <input type="text" placeholder="Security Answer" pattern="[A-Za-z ]{3,}" #Answer=ngModel name="Answer" [(ngModel)]="Student.SecurityAnswer" class="form-control" required>
                <samp class="help-block text-danger" *ngIf="Answer.errors?.required && Answer.touched">Security Answer required</samp>
                <samp class="help-block text-danger" *ngIf="Answer.errors?.pattern && Answer.touched">Security Answer is invalide </samp>
            </div>
            <br>


            <input type="submit" value="submit" class="btn btn-warning" [disabled]=create.invalid>
        </div>
    </form>
</div>