<div class="center">
    <form class="card text-center" #login=ngForm (submit)="submitData()">

        <div class="card-header bg-primary text-white">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <input type="text" placeholder="Username" name="Username" #Username=ngModel class="form-control" [(ngModel)]="user.username" required>
            <br>
            <input type="password" placeholder="Password" name="Password" #Password=ngModel class="form-control" [(ngModel)]="user.password" required>
            <br>
            <input type="submit" value="submit" class="btn btn-primary">
            <div class="row mt-3">
                <div class="col-6">
                    <a class="nav-link" [routerLink]="['/studentreg']" routerLinkActive="router-link-active">New User</a>

                </div>
                <div class="col-6">
                    <a class="nav-link" [routerLink]="['/Forgetpassword']" routerLinkActive="router-link-active">Foget Password</a>
                </div>
            </div>



        </div>

    </form>
</div>