<div>
    <div class="card">

        <table style="width:50%">
            <tr>
                <th><i class="fas fa-user" style="font-size:36px"></i>CourseName</th>
                <th><i class="fas fa-user" style="font-size:36px"></i>Course max-Count</th>
                <th><i class="fas fa-user" style="font-size:36px"></i><br> register Count</th>
                <th><i class="fas fa-download" style="font-size:36px"></i>Download</th>


            </tr>
            <tr *ngFor="let item of data">
                <td>{{item.CourseName}}</td>
                <td>{{item.CourseStrength}}</td>
                <td>{{item.count}}</td>
                <td><button (click)="download(item.CourseName)" class="btn btn-success"><i class="fa fa-download"></i> Download</button></td>

            </tr>
        </table>

    </div>
</div>
<style>
    table {
        margin-top: 10%;
        margin-left: 25%;
    }
</style>