<div style="background-color: #343a40">
    <!-- header -->
    <nav class="navbar">

        <!-- logo -->
        <div class="nandhu_img">
            <div class="navbar-brand" align="center">
                <a class="navbar-item" align="center">
                    <img class="img-fluid rounded" align="center" src="../assets/KONGU_BANNER.jpg">
                </a>
            </div>
        </div>
    </nav>
</div>
<app-header></app-header>
<div class="nandhu">
    <router-outlet></router-outlet>
</div>
<div class="bg-dark text-white fixed-bottom" style="background-color: #343a40">
    <div class="container" align="center" style="padding: 2px;">
        <small>Developed by <a href="/#">MCA</a> | © Copyright 2019 @ KEC</small>
    </div>
</div>