.nandhu {
    background: url('../assets/nandhu.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.nandhu_img {
    margin-left: 10%;
    width: 100%;
}