<div>
    <h1 class="card-header">Registration data </h1>
    <div class="card">
        <div class="row">
            <div class="col">
                <label for="From">From</label>
                <input type="date" class="form-control" name="Form" [(ngModel)]="DateSearch.from">
            </div>
            <div class="col">
                <label for="To">To</label>
                <input type="date" class="form-control" name="To" [(ngModel)]="DateSearch.to">
            </div>
        </div>
        <div>
            <select name="Deparmentlist" class="form-control mt-3 ml-3 mr-3" #t (change)="searchdept(t.value)">
                <option value="" disabled>select department</option>
                <option [value]=item.Short_Name *ngFor="let item of dept">{{item.Short_Name}}</option>
                
              </select>
        </div>
        <div class="col-md-12 ">
            <div class="d-flex justify-content-center ">
                <button class="btn btn-success " (click)="search() ">Search</button>
            </div>
        </div>
        <div class="card-body ">
            <table style="width:100% ">
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Course Id</th>
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <th>Course Start</th>
                    <th>Course End</th>
                    <th>Course Provide By</th>

                </tr>
                <tr *ngFor="let item of data ">
                    <td>{{item.User_Id[0]}}</td>
                    <td>{{item.StudentName}}</td>
                    <td>{{item.CourseId[0]}}</td>
                    <td>{{item.CourseName}}</td>
                    <td>{{item.CourseCode}}</td>
                    <td>{{item.CourseStart}}</td>
                    <td>{{item.CourseEnd}}</td>
                    <td>{{item.Short_Name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>