<div>
    <form class="card" #create=ngForm (submit)="oncreate()">
        <div class="card-body">
            <label for="">ROllNo</label>
            <input type="text" placeholder="ROllNO" pattern="^[1-9]{2}[a-zA-z]{3}[0-9]{3}" #code=ngModel name="code" [(ngModel)]="Forget.ROllNO" class="form-control [class.has-error]=code.invalid && code.touched" required>
            <samp class="help-block" *ngIf="code.errors?.required && code.touched">Rollno required</samp>
            <samp class="help-block" *ngIf="code.errors?.pattern && code.touched">Rollno is invalide </samp>
            <br>
            <label for="">Security Question</label>
            <input type="text" placeholder="Security Question" pattern="[A-Za-z]{3,}" #Name=ngModel name="Name" [(ngModel)]="Forget.QUESTION" class="form-control" required>
            <samp class="help-block" *ngIf="Name.errors?.required && Name.touched">Question required</samp>
            <samp class="help-block" *ngIf="Name.errors?.pattern && Name.touched">Question is invalide </samp>
            <br>
            <label for="">New Password</label>
            <input type="text" placeholder="New Password" pattern="[A-Za-z]" #pass=ngModel name="pass" [(ngModel)]="Forget.NEWPASS" class="form-control" required>
            <samp class="help-block" *ngIf="pass.errors?.required && pass.touched">Course Name required</samp>
            <samp class="help-block" *ngIf="pass.errors?.pattern && pass.touched">Course Name is invalide </samp>
            <br>
            <input type="submit" value="submit" class="btn btn-primary" [disabled]=create.invalid>
        </div>
    </form>

</div>