<div>
    <form class="card" #create=ngForm (submit)="oncreate()">



        <div class="card-body">

            <label for="">Course Code</label>
            <input type="text" placeholder="Course Code" pattern="^[1-9]{2}[a-zA-z]{3}[0-9]{3}" #code=ngModel name="code" [(ngModel)]="Course.CourseCode" class="form-control [class.has-error]=code.invalid && code.touched" required>
            <samp class="help-block" *ngIf="code.errors?.required && code.touched">code required</samp>
            <samp class="help-block" *ngIf="code.errors?.pattern && code.touched">code is invalide </samp>
            <br>
            <label for="">Course Name</label>
            <input type="text" placeholder="Course Name" pattern="[A-Za-z]" #Name=ngModel name="Name" [(ngModel)]="Course.CourseName" class="form-control" required>
            <samp class="help-block" *ngIf="Name.errors?.required && Name.touched">Course Name required</samp>
            <samp class="help-block" *ngIf="Name.errors?.pattern && Name.touched">Course Name is invalide </samp>
            <br>
            <label for="">Course Description</label>
            <textarea name="Course Description" id="CourseDescriptionId" #Description=ngModel name="Description" placeholder="Course Description" class="form-control" [(ngModel)]="Course.CourseDescription"></textarea>
            <samp class="help-block" *ngIf="Description.errors?.required && Description.touched">Course Description required</samp>
            <br>
            <label for="">Course Duration</label>
            <input type="number" placeholder="Course Duration" #Duration=ngModel name="Duration" [(ngModel)]="Course.CourseDuration" class="form-control" required>
            <samp class="help-block" *ngIf="Duration.errors?.required && Duration.touched">Course Duration required</samp>
            <br>
            <label for="">Course Credit</label>
            <input type="number" placeholder="Course Credit" #Credit=ngModel name="Credit" [(ngModel)]="Course.CourseCredit" class="form-control" required>
            <samp class="help-block" *ngIf="Credit.errors?.required && Credit.touched">Course Credit required</samp>
            <br>
            <label for="">Course Strength</label>
            <input type="number" placeholder="Course Strength" #Strength=ngModel name="Strength" [(ngModel)]="Course.CourseStrength" class="form-control" required>
            <samp class="help-block" *ngIf="Strength.errors?.required && Strength.touched">Course Strength required</samp>
            <br>
            <div class="row">
                <div class="col-6">
                    <label for="">Course Start</label>
                    <input type="date" placeholder="Course Starting Date" #StartingDate=ngModel (blur)=checkdate() name="Starting Date" [(ngModel)]="Course.CourseStart" class="form-control" required>
                    <samp class="help-block" *ngIf="StartingDate.errors?.required && StartingDate.touched">Course StartingDate required</samp>
                </div>
                <div class="col-6"><label for="">Course End</label>
                    <input type="date" placeholder="Course Ending Date" #EndingDate=ngModel name="Ending Date" [(ngModel)]="Course.CourseEnd" [disabled]=datedis class="form-control" required></div>
                <samp class="help-block" *ngIf="EndingDate.errors?.required && EndingDate.touched">Course EndingDate required</samp>
            </div>
            <br>
            <label for="">Course Payment</label>
            <input type="number" placeholder="Course Payment" #Payment=ngModel name="Payment" [(ngModel)]="Course.CoursePayment" class="form-control" required>
            <samp class="help-block" *ngIf="Payment.errors?.required && Payment.touched">Course Payment required</samp>
            <br>



            <input type="submit" value="submit" class="btn btn-primary" [disabled]=create.invalid>
        </div>

    </form>
</div>